{% extends 'base.html' %}

{% block title %}DEP - Multiple Template Engines{% endblock %}

{% block content %}

{% include 'mtefdweb/_menu.html' %}

<p class="message info">Here's the latest draft of the DEP. See also the <a href="https://github.com/aaugustin/mtefd/commits/master/multiple-template-engines.rst">revision history</a> and the <a href="https://raw.githubusercontent.com/aaugustin/mtefd/master/multiple-template-engines.rst">raw file</a>.</p>

<p class="message warning">This is a work in progress. Several sections are still missing. See the latest <a href="{% url 'mtefd-updates' %}">updates</a> for more information.</p>

{{ dep_html|safe }}

{% endblock %}
