{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Funders - Multiple Template Engines{% endblock %}

{% block extrahead %}<link href="{% static 'mtefdweb/css/funders.css' %}" rel="stylesheet" type="text/css">{% endblock %}

{% block content %}

{% include 'mtefdweb/_menu.html' %}

<h1>Multiple Template Engines for Django</h1>

<p class="message info">If you funded the campaign, you can <a href="{% url 'mtefd-funder-get-token' %}">edit your funder profile</a>.</p>

{% for sponsor in sponsors %}

{% ifchanged sponsor.perk %}
<h2>{{ sponsor.get_perk_display }}s</h2>
{% endifchanged %}

<div class="perk perk{{ sponsor.perk}}">

{% if sponsor.perk >= 4 and sponsor.logo %}
<img src="{{ sponsor.logo }}">
{% endif %}

{% if sponsor.perk >= 4 and sponsor.link %}
<a href="{{ sponsor.link }}"><span>{{ sponsor.display_name }}</span></a>
{% else %}
<span>{{ sponsor.display_name }}</span>
{% endif %}

{% if sponsor.perk >= 5 and sponsor.why %}
<p>{{ sponsor.why }}</p>
{% endif %}

</div>

{% endfor %}

<h2>Thanks</h2>

<p><strong>Double thanks to {% for funder in funders2 %}{{ funder.display_name }}{% if not forloop.last %}, {% endif %}{% endfor %}.</strong></p>

<p>Thanks to {% for funder in funders1 %}{{ funder.display_name }}{% if not forloop.last %}, {% endif %}{% endfor %}.</p>

<p><em>Special thanks to {% for funder in fundersx %}{{ funder.display_name }}{% if not forloop.last %}, {% endif %}{% endfor %}.</em></p>

{% endblock %}
