{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Funder profile of {{ funder.name }} - Multiple Template Engines{% endblock %}

{% block extrahead %}<link href="{% static 'mtefdweb/css/forms.css' %}" rel="stylesheet" type="text/css">{% endblock %}

{% block content %}

{% include 'mtefdweb/_menu.html' %}

<h1>Edit your funder profile</h1>

{% for message in messages %}
<p class="message {{ message.tags }}">{{ message }}</p>
{% endfor %}

<form action="{% url 'mtefd-funder-info' token=funder.token %}" method="POST">
{% csrf_token %}
<table class="form">
<tr><th>Level:</th><td>{{ funder.get_perk_display }}</td></tr>
{{ form.as_table }}
<tr><td></td><td><input type="submit" value="Update my profile"></td></tr>
</table>
</form>

{% endblock %}
