{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Updates - Multiple Template Engines{% endblock %}

{% block extrahead %}<link href="{% static 'mtefdweb/css/updates.css' %}" rel="stylesheet" type="text/css">{% endblock %}

{% block content %}

{% include 'mtefdweb/_menu.html' %}

<h1>Multiple Template Engines for Django</h1>

{% for update in object_list %}
<h2 id="{{ update.date.isoformat }}">
{{ update.date }} - {{ update.title }}
<a href="#{{ update.date.isoformat }}">¶</a>
</h2>
{{ update.html|safe }}
{% empty %}
<p>No updates available yet.</p>
{% endfor %}

{% endblock %}
