{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Updates - Multiple Template Engines{% endblock %}

{% block extrahead %}
<link href="{% static 'mtefdweb/css/updates.css' %}" rel="stylesheet" type="text/css">
<link href="{% url 'mtefd-updates-rss' %}" rel="alternate nofollow" type="application/rss+xml">
{% endblock %}

{% block content %}

{% include 'mtefdweb/_menu.html' %}

<div style="float: right; margin-top: 14px;">
<a href="{% url 'mtefd-updates-rss' %}"><img src="{% static 'mtefdweb/img/rss.svg' %}" alt="RSS" width="16" height="16"></a>
</div>

<h1>Multiple Template Engines for Django</h1>

{% for update in object_list %}
<h2 id="{{ update.date.isoformat }}">
{{ update.date }} - {{ update.title }}
<a href="#{{ update.date.isoformat }}">¶</a>
</h2>
{{ update.html|safe }}
{% empty %}
<p>No updates available yet.</p>
{% endfor %}

{% endblock %}
